[user]
    name = johndgiese
    email = johndgiese@gmail.com
[color]
    diff = true
    ui = true
    status = true
    branch = true
	us = true
[credential]
	helper = cache --timeout=72000
[core]
	editor = vim
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
