[user]
    name = johndgiese
    email = johndgiese@gmail.com
[color]
    diff = true
    ui = true
    status = true
    branch = true
[credential]
	helper = cache --timeout=72000
[core]
	editor = vim
